body {
  background-color: #ccc;
}
/**
efeitos legais css
    -webkit-text-emphasis: circle;
    -webkit-text-emphasis: filled;
    -webkit-text-emphasis: dot;
    -webkit-text-emphasis: double-circle;
*/
.calculadora {
  background-color: #5d5d58; /* #dcdcd6 */
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.visor {
  min-width: 347px;
  border-style: solid;
  border: 1px;
  background-color: whitesmoke;
  padding-top: 18px;
  height: 38px;

  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0 0 5px 5px;
}
.visor > .visor-temp {
  position: relative;
  display: table;
  top: -59px;
  width: 343px;
  height: 10px;
  text-align: right;
}
.visor > .visor-input {
  background-color: transparent;
  height: 39px;
  width: 343px;
  font-size: 30px;
  text-align: right;
  border-style: none;
}

.historico {
  width: 340px;
  height: 150px;
  background-color: #efefef;
  padding: 5px;
}
.historico-header {
  text-align: center;
  padding: 5px 5px 0 5px;
}
.historico-list {
  overflow: scroll;
  height: 103px;
  text-align: right;
  padding: 5px;
}
.historico-item {
  display: inline-flex;
}
.historico-temp {
  padding: 1px 2px;
  border-width: 2px;
  border-style: groove;
}
.teclado {
  max-width: 350px;
  text-align: center;
}

.teclado > button {
  /* font-size: 18px; */
  width: 84px;
  height: 40px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: x-large;
}
.errorOperation {
  border-color: red;
  border-style: dotted;
}
.btnResolve {
  background-color: #545651;
  color: white;
}
